<ion-app>

  <ion-header>
    <ion-toolbar>
      <ion-title> MReLearning </ion-title>
      <ng-container *ngIf="userService.isAuthenticated(); else notAuth">
        <ion-buttons slot="primary">
          <ion-button (click)="handleLogOut()"> Log out </ion-button>
        </ion-buttons>
        <ion-buttons slot="secondary">
          <ion-button [routerLink]="['/profile']" routerLinkActive="active"> 
            <ion-icon slot="start" name="person-outline"></ion-icon>
            Profile
          </ion-button>
        </ion-buttons>
      </ng-container>
      <ng-template #notAuth>
        <ion-buttons slot="primary">
          <ion-button [routerLink]="['/login']" routerLinkActive="active"> Log in </ion-button>
        </ion-buttons>
        <ion-buttons slot="secondary">
          <ion-button [routerLink]="['/signup']" routerLinkActive="active"> Sign up </ion-button>
        </ion-buttons>
      </ng-template>
    </ion-toolbar>
  </ion-header>

  <ion-content [scrollY]="false">
    <ion-router-outlet></ion-router-outlet>
  </ion-content>

  <ion-footer>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="courses" [routerLink]="['/courses']" routerLinkActive="active">
        <ion-icon name="book-outline"></ion-icon>
        All Courses
      </ion-tab-button>
      <ion-tab-button tab="learning-paths" [routerLink]="['/learning-paths']" routerLinkActive="active">
        <ion-icon name="analytics-outline"></ion-icon>
        Learning Paths
      </ion-tab-button>
      <ng-container *ngIf="userService.isAuthenticated()">
        <ion-tab-button tab="bookmarks" [routerLink]="['/bookmarks']" routerLinkActive="active">
          <ion-icon name="bookmark-outline"></ion-icon>
          Bookmarks
        </ion-tab-button>
        <ion-tab-button tab="in-progress" [routerLink]="['/in-progress']" routerLinkActive="active">
          <ion-icon name="refresh-outline"></ion-icon>
          In Progress
        </ion-tab-button>
        <ion-tab-button tab="completed" [routerLink]="['/completed']" routerLinkActive="active">
          <ion-icon name="checkmark-done-outline"></ion-icon>
          Completed
        </ion-tab-button>
      </ng-container>
    </ion-tab-bar>
  </ion-footer>

</ion-app>
