@import '../../mixins/mixins.scss';

:host {
    @include background-image-wave;

    ion-grid {
        width: 100vw;
    }

    ion-avatar {
        margin: auto;
        margin-top: 16px;
        height: 100px;
        width: 100px;
    }

    h3 {
        text-align: center;
        margin-top: 16px;
        margin-bottom: 0;
    }

    ion-button {
        width: 60%;
        display: block;
        margin: auto;
    }
}