<!-- <ion-title>Hi, Dimitrije Veljkovic</ion-title> -->


<!-- <p>{{ user?.firstName }}</p>
<p>{{ user?.lastName }}</p>
<p>{{ user?.userName }}</p>
<p>{{ user?.email }}</p>
<p>{{ user?.password }}</p> -->

<ion-grid>
  <ion-row>
    <ion-col size="12">
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
    </ion-col>
    <ion-col size="12" sizeMd="6" offsetMd="3">
      <ion-card>
        <ion-card-content>
          <form #userDataForm="ngForm" (ngSubmit)="changeUserData(userDataForm)">
            <ion-input 
              label="First Name"
              label-placement="floating"
              fill="outline"
              placeholder="Enter first name..."
              type="text"
              class="ion-margin-bottom"
              name="firstName"
              [(ngModel)]="user.firstName"
              required>
            </ion-input>
            <ion-input 
              label="Last Name"
              label-placement="floating"
              fill="outline"
              placeholder="Enter last name..."
              type="text"
              class="ion-margin-bottom"
              name="lastName"
              [(ngModel)]="user.lastName"
              required>
            </ion-input>
            <ion-input 
              label="Username"
              label-placement="floating"
              fill="outline"
              placeholder="Enter username..."
              type="text"
              class="ion-margin-bottom"
              name="userName"
              [(ngModel)]="user.userName"
              required>
            </ion-input>
            <ion-input 
              label="Email"
              label-placement="floating"
              fill="outline"
              placeholder="Enter email..."
              type="email"
              class="ion-margin-bottom"
              name="email"
              [(ngModel)]="user.email"
              required
              email>
            </ion-input>
            <ion-input 
              label="Password"
              label-placement="floating" 
              fill="outline" 
              placeholder="Enter password..." 
              type="password" 
              class="ion-margin-bottom"
              name="password"
              [(ngModel)]="user.password"
              required
              minlength="8">
            </ion-input>
            <ion-button [disabled]="!userDataForm.valid" type="ngSubmit">
              <ion-icon name="create-outline" slot="start"></ion-icon>Edit data
            </ion-button>
          </form>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="12" sizeMd="6" offsetMd="3">
      <ion-button color="danger" id="show-alert">
        <ion-icon name="trash-outline" slot="start"></ion-icon>Delete account
      </ion-button>
      <ion-alert
        trigger="show-alert"
        header="Are you sure?"
        [buttons]="deleteAccountAlertButtons"
      ></ion-alert>
    </ion-col>
  </ion-row>
</ion-grid>



