@mixin background-image-wave {
    background: url(../wave1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@mixin action-buttons {
    .actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}

@mixin comment-header {
    .comment-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .delete-comment {
            background-color: var(--ion-color-danger);
            color: white;
            border-radius: 500px;
            font-size: 22px;
            padding: 5px;
            cursor: pointer;
        }
    }
}