:host {
    overflow-y: auto;
    justify-content: flex-start;

    .main-grid {
        width: 100vw;
    }

    h1 {
        margin-top: 10px;
    }

    iframe {
        width: 100%;
        height: 250px;
    }

    form.text-form {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .note-card {
        margin: 0;
    }

    ion-list {
        padding: 0;

        ion-item-divider {
            ion-label {
                text-overflow: unset;
                white-space: unset;
            }
        }

        ion-radio-group ion-radio ion-label {
            text-overflow: unset;
            white-space: normal;
        }
    }

    .submit-test-button {
        display: block;
        margin: auto;
        width: 200px;
        margin-top: 16px;
    }
}