<ion-grid>
  <ion-row>
    <ion-col size="12" sizeMd="6" offsetMd="3">
      <ion-card>
        <ion-card-header>
          <ion-card-title class="ion-text-center">Reset your password</ion-card-title>
          <ion-card-subtitle class="ion-text-center">We will send you a verification code to reset your password</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <form #emailForm="ngForm" (ngSubmit)="sendCode(emailForm)">
            <ion-input 
              label="Email"
              label-placement="floating"
              fill="outline"
              placeholder="Enter email..."
              type="email"
              class="ion-margin-bottom"
              name="email"
              ngModel
              required
              email>
            </ion-input>
            <div class="actions">
              <ion-button type="ngSubmit" [disabled]="!emailForm.valid">Send code</ion-button>
            </div>
          </form>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="12" sizeLg="6" offsetLg="3" *ngIf="codeSent">
      <ion-card>
        <ion-card-header>
          <ion-card-title class="ion-text-center">New password</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <form #resetForm="ngForm" (ngSubmit)="resetPassword(resetForm)">
            <ion-input 
              label="Email"
              label-placement="floating"
              fill="outline"
              placeholder="Enter email..."
              type="email"
              class="ion-margin-bottom"
              name="email"
              ngModel
              required
              email>
            </ion-input>
            <ion-input 
              label="New password"
              label-placement="floating"
              fill="outline"
              placeholder="Enter new password..."
              type="password"
              class="ion-margin-bottom"
              name="newPassword"
              ngModel
              required
              minlength="8">
            </ion-input>
            <ion-input 
              label="Verification code"
              label-placement="floating"
              fill="outline"
              placeholder="Enter verification code..."
              type="text"
              class="ion-margin-bottom"
              name="verificationCode"
              ngModel
              required
              pattern="\d{6}"
              minlength="6"
              maxlength="6">
            </ion-input>
            <div class="actions">
              <ion-button type="ngSubmit" [disabled]="!resetForm.valid">Reset password</ion-button>
            </div>
          </form>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
