:host {
    background: url(../../wave1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    ion-grid {
        width: 100vw;
    }

    .actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}