:host {
    overflow-y: auto;

    .main-grid {
        width: 100vw;
    }

    .learning-path-card {
        position: relative;

        .logo {
            position: absolute;
            top: 5px;
            left: 5px;
            width: 60px;
        }
    }

    .buttons-grid {
        ion-row {
            ion-col {
                ion-button {
                    width: 100%;
                }
            }
        }
    }
}