<ion-grid>
    <ion-row>
        <ion-col size="12" sizeLg="6" offsetLg="3">
            <ion-searchbar placeholder="Search courses" (ionInput)="handleSearch($event)" color="dark"></ion-searchbar>
        </ion-col>
    </ion-row>
    <ng-container *ngIf="filteredCourses">
        <ion-row *ngIf="filteredCourses.length; else noCourses">
            <ion-col *ngFor="let course of filteredCourses" size="12" sizeLg="6">
                <app-course-card [course]="course">
                </app-course-card>
            </ion-col>
        </ion-row>
    </ng-container>
    <ng-template #noCourses>
        <ion-row>
            <ion-col size="12" sizeLg="6" offsetLg="3">
                <ion-card>
                    <img alt="Not found error" src="https://desk.zoho.com/portal/api/uploads/edbsn52625a575bc0618c993ca8f4a38cd46b8e0fe1cb02c8efd00108efa7cd600465/content?portalId=edbsndbc3427e2df3c1b452d999bdeb1e3dcfd01d391e1bec5453a767c8a90e865881" />
                    <ion-card-header>
                      <ion-card-title>No courses found!</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
    </ng-template>
</ion-grid>
